@model IEnumerable<EBook.Models.Database.EBookEntities>
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<h2>Dashboard</h2>
<h3>Welcome @Session["Email"]</h3>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
